@using BusinessObject
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@using eStore.Controllers.Utils

@{
    const string MEMBER_KEY = "Member";
    List<CartItem> cartItems = null;
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(eStore.Controllers.ProductController.CARTKEY);
    MemberObject member = SessionExtensionsUtils.GetObjectFromJson<MemberObject>(Context.Session, MEMBER_KEY);
    if (jsoncart != null)
    {
        cartItems = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
    }

    if(cartItems != null && (member == null  || member.MemberId != 1)){
        <div class="nav-item"><a asp-route="cart">Giỏ hàng(@cartItems.Count)</a></div>
    }

}