
@{
}


<nav class="nav flex-column">
    <a class="nav-link active" href="#">Shopping</a>
    <a class="nav-link" href="/Product">Product</a>
    <a class="nav-link" href="#">Orders</a>
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Admin</a>
</nav>
